<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <div class="container">
        <a class="navbar-brand" href="/">N.Shop</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNav"
                aria-controls="collapsibleNav"
                aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item <%= path === '/' && 'active' %>">
                    <a class="nav-link" href="/">Shop<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%= path === '/products' && 'active' %>">
                    <a class="nav-link" href="/products">Products<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%= path === '/cart' && 'active' %>">
                    <a class="nav-link" href="/cart">Cart<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%= path === '/orders' && 'active' %>">
                    <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <%= path === '/admin/add-product' && 'active' %>">
                    <a class="nav-link" href="/admin/add-product">Add Product</a>
                </li>
                <li class="nav-item <%= path === '/admin/products' && 'active' %>">
                    <a class="nav-link" href="/admin/products">Admin Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
